<!DOCTYPE html>
{% extends '../layout.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
   <title>{% block title %}登录成功 {% endblock %}</title>
</head>
{% block content %}
<body>
        <!-- multiple(多文件上传) -->
        <!-- <input type="file" multiple id="inputs"/> 
        <div id='dd'></div>
        <script>
        $(document).ready(function () {
        $("#inputs").change(function () {
        var fil = this.files;
        for (var i = 0; i < fil.length; i++) {
        reads(fil[i]);
        }
        });
        });
        function reads(fil){
        var reader = new FileReader();
        reader.readAsDataURL(fil);
        reader.onload = function()
        {
        document.getElementById("dd").innerHTML += "<img src='"+reader.result+"'>";
        };
        }
        </script> -->

        <form id="uploadForm"  method="post" enctype="multipart/form-data">
            <input type="file" id="fileId" name="image" value="请上传会议图片" />
            <input type="hidden" id="hiddId" name="id" value="1"/>
            <div id="div_username"><input type="text" name="topic" id="topic" class="text_field" placeholder="请输入会议标题"/></div>
            <div id="div_password"><input type="text" name="Summary" id="Summary" class="text_field" placeholder="请输入会议摘要"/></div> 
            <div id="data"><input  type="text" name="datetimeStart" id="datetimeStart" readonly class="form_datetime" placeholder="会议时间 ：yyyy-mm-dd"></div>      
            <input type="button" id="submit" value="上传"/>
            <script type="text/javascript" src="../../public/js/upload.js"></script>
           
           <!-- {% include  '../../public/js/upload.js' %} -->
           <script>
               $().ready(function(){
                $('#datetimeStart').datetimepicker({
                    language: 'zh-CN',//显示中文
                    format: 'yyyy-mm-dd',//显示格式
                    minView: "month",//设置只显示到月份
                    initialDate: new Date(),//初始化当前日期
                    autoclose: true,//选中自动关闭
                    todayBtn: true//显示今日按钮
                    })
               })
           </script>
        </form>
        <script type="text/javascript" src="../../public/js/selectmeetinfoList.js"></script>
        <script type="text/javascript" src="../../public/js/carousel.js"></script>
        <div>
            <input type="button" id="test1" value="查询会议信息"/>
        </div>
        <div>
                <form id="uploadForms"  method="post" enctype="multipart/form-data">
                    <input type="file" id="fileIds" name="image2" value="上传轮播"/>
                    <input type="button" id="submits" value="上传"/>
                </form>
        </div>
        <div>
            <input type="text" name="topic" id="Introductiontopic" class="text_field" placeholder="请输入大会简介标题"/>
            <input type="text" name="topic" id="Introductiontime" class="text_field" placeholder="请输入大会简介时间"/>
            <input type="text" name="topic" id="Introductionaddress" class="text_field" placeholder="请输入大会简介地点"/>
            <input type="text" name="topic" id="Introductionmoney" class="text_field" placeholder="请输入大会费用"/>
            <input type="text" name="topic" id="Introduction" class="text_field" placeholder="请输入大会介绍"/>
            <input type="button" id="submit2" value="上传"/>
        </div>

</body>
{% endblock %}
</html>